body{
  background:black;
  color:#D1D1D1;
  font-family:Helvetica, sans-serif;
}

h1{
  font-weight: bold;
  margin:0;
}

h1, .status-box{
  color:#F5FF00;
}
#fake-console{
  position:absolute;
  top:0;
  right:0;
  z-index:100;
  padding:5px;
  background:rgba(0,0,0,.4);
  text-align: right;
}
container{
  margin:auto;
  display:block;
  margin:20px;
}

section{
  margin-bottom:2em;
  clear:both;
}

input[type='text'],
input[type='password'] {
  background-color: #333;
  padding: 9px;
  font-size:1.2em;
  color: #fff;
  width: 150px;
  border:1px solid #222;
  margin:10px 10px 0px 0px;
}
input[name='host']{
  width:170px;
}
.col{
  float:left;
  padding:10px;
  box-sizing:border-box;
}
.col.w30{
  width:30%;
}
.col.w70{
  width:70%;
}

.upload-bar, .back-bar, .front-bar, svg{
  width:875px;
  height:85px;
}
.upload-bar{
  margin:0px 10px;
  position:relative;
}
.back-bar, .front-bar{
  background-size:875px 85px;
  background-position:center left;
  position:absolute;
  transition: width 8s ease;
}
.front-bar.complete{
 transition: width 1s ease;
}

.ftp-settings{
  margin-bottom:20px;
}